@charset "UTF-8";
/* css document */

/* Universal Styles */
body, a {
    margin: 0;
    font-family: "Helvetica";
    color: seashell;
    background-color: black;
    font-size: 22px;
    text-align: center;
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
}

.flex-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Header Styles */
header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    background-color: black;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
}

header img {
    height: 50px;
    padding-left: 10px;
}

header nav {
    text-align: right;
    flex-grow: 1;
}

header nav span {
  display: inline-block;
  padding: 20px 10px;
}


/* Main Section */
.main {
  padding-top: 69px;
  width: 1200px;
  opacity: 0.9;
  margin: auto;
}

/* Mission Section */
#mission {
  height: 700px;
  background-image: url('../../resources/images/img-mission-background.jpg');
  padding-top: 70px;
}

#mission .content {
  margin: auto;
  background-color: black;
  width: 100%;
}

/* Store Section */
#store {
  width: 1000px;
  height: 700px;
  margin: auto;
  padding-top: 70px;
}

.items {
  padding: 5px;
}

.items img {
  display: block;
  width: 300px;
  height: 200px;
  margin: 10px;
}

.items span {
  display: block;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

/* Locations Section */
#locations {
  height: 500px;
  background-image: url('../../resources/images/img-locations-background.jpg');
  padding-top: 70px;
}

#locations .flex-content {
    margin: auto;
    width: 1100px;
}

.flex-content.locations {
    padding-top: 5px;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
}
